* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
}

/* article card */
.Article-Card {
  /* border: 1px solid rgb(0, 255, 0); */
  background-color: rgb(126, 121, 121);
  border-radius: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
.Article-Card-Header {
  color: rgb(250, 75, 75);
  margin-top: 20px;
}

/* header */
header {
  background-color: rgb(240, 74, 74);
  width: 50%;
  margin-top: 1.5em;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1.5em;
  padding: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
}
